<!DOCTYPE html>
<html lang="{{#if page.attributes.lang}}{{ page.attributes.lang }}{{else}}en{{/if}}">
  <head>
  {{> head }}
  </head>
  <body>
  {{> header}}
  {{> body}}
  {{> footer}}
  </body>
</html>
